<header class="b1">
  <a href="../index" style="text-decoration: none;"><img src="/assets/images/sc.jpg" alt="Sports Center" width="80" height="80"></a>
    <h1 style="text-decoration: none;color: white;">Sports Center</h1>

</header>
