<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <title>Spotrs Center</title>
 <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
 </head>
 <body>
     <%- include('partials/header.ejs') %>
     <%- include('partials/nav.ejs') %>
<article class="contact">
        <h2>Contact Us</h2><br>
        <p>Contact Us through e-mail:event@sportscenter.com or call us at +1(801)165-8731.</p>
        <p>You can also visit sport center at University City Blvd, Opp IKEA to Learn more about the upcoming event.</p>
</article>
     <%- include('partials/footer.ejs') %>
    </body>
    </html>
